<div {{ stimulus_controller('modal-form-hire') }}>
    {{ form_start(contact_form, {'attr': {'class': 'max-w-xl m-4 text-left'}}) }}
    <div class="mt-0">
        {{ form_label(contact_form.name, contact_form.name.vars.label, {'label_attr': {'class': 'sr-only'}}) }}
        {{ form_widget(contact_form.name, {'attr': {'class': 'w-full px-5 py-2 border-1 border-gray-200 dark:border-secondary-dark rounded-md text-md bg-secondary-light dark:bg-ternary-dark text-primary-dark dark:text-ternary-light'}}) }}
    </div>
    <div class="mt-6">
        {{ form_label(contact_form.email, contact_form.email.vars.label, {'label_attr': {'class': 'sr-only'}}) }}
        {{ form_widget(contact_form.email, {'attr': {'class': 'w-full px-5 py-2 border-1 border-gray-200 dark:border-secondary-dark rounded-md text-md bg-secondary-light dark:bg-ternary-dark text-primary-dark dark:text-ternary-light'}}) }}
    </div>
    <div class="mt-6">
        {{ form_label(contact_form.subject, contact_form.subject.vars.label, {'label_attr': {'class': 'sr-only'}}) }}
        {{ form_widget(contact_form.subject, {'attr': {'class': 'w-full px-5 py-2 border-1 border-gray-200 dark:border-secondary-dark rounded-md text-md bg-secondary-light dark:bg-ternary-dark text-primary-dark dark:text-ternary-light'}}) }}
    </div>
    <div class="mt-6">
        {{ form_label(contact_form.message, contact_form.message.vars.label, {'label_attr': {'class': 'sr-only'}}) }}
        {{ form_widget(contact_form.message, {'attr': {'class': 'w-full px-5 py-2 border-1 border-gray-200 dark:border-secondary-dark rounded-md text-md bg-secondary-light dark:bg-ternary-dark text-primary-dark dark:text-ternary-light'}}) }}
    </div>
    <div class="mt-6 pb-4 sm:pb-1">
        {% if not contact|default(false) %}
            <div data-id="form_hire_footer">
                <button class="px-4 sm:px-6 py-2 sm:py-2.5 text-white bg-indigo-500 hover:bg-indigo-600 rounded-md focus:ring-1 focus:ring-indigo-900 duration-500"
                        type="submit" aria-label="Submit Request" data-action="modal-form#submitForm">
                    Envoyer
                </button>
            </div>
        {% endif %}
    </div>
    {{ form_end(contact_form) }}
</div>
