<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 mt-6 sm:gap-10">
    {% for project in projects %}
        <twig:CardProject
            title="{{ project.title }}"
            date="{{ project.date }}"
            image="{{ asset('images/project/'~project.id~'.png') }}"
            href="{{ project.link }}"
            category="{{ project.shortDesc }}"
        />
    {% endfor %}
</div>

