<div class="ProductGrid" {{ attributes.defaults(stimulus_controller('appear')) }}>
    <div class="pt-10 sm:pt-20 md:pt-24" id="articles">
        <div class="text-center">
            <h1 class="font-general-semibold text-2xl sm:text-5xl font-semibold mb-2 text-ternary-dark dark:text-ternary-light">
                Articles
            </h1>
        </div>
{#        <div class="mt-8 sm:mt-10">#}
{#            <div class="flex justify-between border-b border-primary-light dark:border-secondary-dark pb-3 gap-4">#}
{#                <div class="flex justify-between gap-2">#}
{#                    <span#}
{#                            class="hidden sm:block bg-primary-light dark:bg-ternary-dark p-2.5 shadow-sm rounded-xl cursor-pointer">#}
{#                        <svg#}
{#                                xmlns="http://www.w3.org/2000/svg"#}
{#                                width="24" height="24"#}
{#                                viewBox="0 0 24 24" fill="none"#}
{#                                stroke="currentColor"#}
{#                                stroke-width="2"#}
{#                                stroke-linecap="round"#}
{#                                stroke-linejoin="round"#}
{#                                class="feather feather-search text-ternary-dark dark:text-ternary-light">#}
{#                            <circle#}
{#                                    cx="11" cy="11"#}
{#                                    r="8"></circle>#}
{#                            <line x1="21" y1="21" x2="16.65"#}
{#                                  y2="16.65"></line>#}
{#                        </svg>#}
{#                    </span>#}
{#                    <input#}
{#                            class="font-general-medium pl-3 pr-1 sm:px-4 py-2 border-1 border-gray-200 dark:border-secondary-dark rounded-lg text-sm sm:text-md bg-secondary-light dark:bg-ternary-dark text-primary-dark dark:text-ternary-light"#}
{#                            id="name" name="name" type="search" required="" placeholder="Recherche"#}
{#                            aria-label="Name">#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </div>
    <div class="flex flex-col 2xl:grid 2xl:grid-cols-2 mt-6 gap-6 sm:gap-10" id="{{ this.viewId }}">
        {% if page > 1 %}
            <article id="article--{{ page - 1 }}-{{ per_page }}"></article>
        {% endif %}
        {% for article in this.articles %}
            <twig:CardArticle
                    index="{{ page }}-{{ loop.index }}"
                    slug="{{ article.slug }}"
                    title="{{ article.title }}"
                    date="{{ article.date }}"
                    image="{{ asset('images/article/'~article.slug~'.png') }}"
                    href="{{ path('app_article', {slug: article.slug}) }}"
                    intro="{{ article.intro }}"
            />
        {% endfor %}
        {% if this.hasMore %}
            <twig:CardArticle
                    index="{{ page + 1 }}-1"
                    title="article"
                    image="{{ asset('images/article/empty.svg') }}"
                    category="description"
                    loadMoreTrigger="{{ true }}"
            />
        {% else %}
            <div class="self-end">
                <div class="w-12 h-12 bg-secondary-light dark:bg-ternary-dark rounded-xl"></div>
            </div>
        {% endif %}
    </div>
</div>
